[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
openai = "*"
streamlit_cropper = "*"
pillow = "*"
replicate = "*"
streamlit-extras = "*"
opencv-python-headless = "*"
streamlit-image-coordinates = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.10"
